<div>
    <section class="barra-lateral">
        <h6 class="text-secondary"><strong>TECNOLOGÍA</strong></h6>
        <p class="text-secondary py-2">TOTAL: {{service.listaProductos.length}}</p>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h6 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <p class="text-secondary m-0"><strong>CATEGORIA</strong></p>
                    </button>
                </h6>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    @for(categoria of listaCategorias; track categoria){
                        <div class="accordion-body text-secondary border-top">
                            <p>{{categoria.nombre}}</p>
                        </div>
                    }
                    <div class="accordion-body text-secondary border-top">
                        <p>COMPUTACIÓN</p>
                    </div>
                    <div class="accordion-body text-secondary border-top">
                        <p>ELECTRÓNICA</p>
                    </div>
                    <div class="accordion-body text-secondary border-top">
                        <button class="btn text-secondary">ORDEN FOR PRICE</button>

                        <button (click)="service.obtenerProductosPorPrecioAscDesc('asc')" class="btn text-secondary">ORDEN FOR PRICE</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>