.barra-lateral {
    width: 22em; 
    height: 100vh; 
    padding: 20px; 
}

.accordion-button {
    background-color: #ffffff; /* Color de fondo por defecto (Bootstrap azul) */
    color: white; /* Color del texto por defecto */
    transition: background-color 0.3s ease; /* Transición suave */
    outline: none; /* Quita el borde azul de enfoque */
    box-shadow: none; /* Quita la sombra de enfoque */
}

.accordion-button:hover {
    background-color: #ffffff; /* Color al pasar el ratón */
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff; /* Color cuando está expandido */
    color: white; /* Color del texto cuando está expandido */
}

.accordion-body{
    padding: 1em 2em 0 2em;
}