<section class="d-flex justify-content-between align-items-center bg-dark py-4 px-5">
  <div class="d-flex align-items-center">
    <img class="logo" src="assets/logo.png" alt="">
    <h4 class="titulo-logo text-light m-0 px-2">CodeCrafters DG</h4>
  </div>
  <div class="d-flex">
    <input class="form-control mx-1" type="search" placeholder="Buscar Producto" aria-label="Search">
    <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
  </div>
  <div class="d-flex gap-3">
    <a routerLink="/login" class="text-light ">Iniciar Sesión</a>
    <a class="text-light" data-bs-toggle="offcanvas" href="#offcanvasExample" (click)="mostrarProductosCarrito()"
      role="button" aria-controls="offcanvasExample">
      Carrito
    </a>
    <a href="#" class="text-light ">Menú</a>
  </div>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Tus Compras</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column gap-2 ">
      @if(carritoVacio()){
      <div class="m-auto">
        <p>No tienes productos agregados</p>
      </div>
      } @else {
        @for(producto of productosCarrito; track producto; let i = $index){
        <div class="d-flex justify-content-end align-items-center gap-2 border rounded p-2">
          <div class="d-flex flex-column align-items-center">
            <button class="btn text-secondary" (click)="aumentarCantidad(producto.producto)"><h6>+</h6></button>
            <p>{{producto.cantidad}}</p>
            <button class="btn text-secondary" (click)="disminuirCantidad(producto.producto)"><h6>-</h6></button> 
          </div>
          <div class="w-50">
            <img class="img-fluid p-2" src="{{producto.producto.imagen}}" alt="{{producto.producto.nombre}}">
          </div>
          <div>
            <p class="fs-6">{{producto.producto.descripcion}}</p>
            <p>S/{{producto.producto.precio}}</p>
          </div>
          <div>
            <button class="btn-eliminar btn border-0" (click)="eliminarDelCarrito(producto.producto)"><i class="bi bi-trash-fill"></i></button>
          </div>
        </div>
        }
      }

    </div>
    <div class="d-flex flex-column bg-dark text-light">
      <div class="d-flex justify-content-between border-bottom px-3 py-2">
        <p>Total de Productos</p>
        <p><strong>{{this.cantidadTotal}}</strong></p>
      </div>
      <div class="d-flex justify-content-between px-3 py-2">
        <p>Precio Total </p>
        <p><strong>S/{{this.precioTotal}}</strong></p>
      </div>
      <div class="bg-info text-center">
        @if(carritoVacio()){
          <button class="btn border-0 w-100 h-100" data-bs-dismiss="offcanvas"><strong>Cerrar</strong></button>
        }@else {
          <button class="btn border-0 w-100 h-100" [routerLink]="['pasarela-pagos']" data-bs-dismiss="offcanvas"><strong>Ir al carrito</strong></button>
        }
      </div>
    </div>
  </div>
</section>