<div class="bg-light py-3 px-5 ">
    <h3 class="text-center">Compra Invitado</h3>
    <div class="m-5">
        <div class="progress">
            <div class="bg-dark progress-bar w-50" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>
    </div>

    @if(this.formulario){
    <div class="row mx-4">
        <div class="col-md-8">
            <div>
                <h6><strong>Datos de Envío</strong></h6>
                <div class="my-3 row gap-4">
                    <button class="botones border btn col p-2"><i class="fs-4 bi bi-shop"></i><strong> Recojo en Tienda</strong></button>
                    <button class="botones border btn col p-2"><i class="fs-4 bi bi-send-check"></i><strong> Envío a Domicilio</strong></button>
                </div>
                <p><strong>Elija la Tienda de Entrega</strong></p>
                <div class="d-flex flex-column gap-2">
                    <div class="radio border rounded d-flex align-items-center justify-content-between">
                        <div class="p-3">
                            <input type="radio" name="opcionesLugar" id="radioChina">
                            <label class="mx-3" for="radioChina"> China - Tokio</label>
                        </div>
                        <div>
                            <iframe class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3589.8016695427054!2d-80.33550552467418!3d25.
                            87600420387261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9bb10a5705229%3A0xcd3e7701d1716218!2sChina
                            %20Tokyo!5e0!3m2!1spt-BR!2spe!4v1724944851754!5m2!1spt-BR!2spe" width="600" height="450" style="border:0;" 
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="radio border rounded d-flex align-items-center justify-content-between">
                        <div class="p-3">
                            <input type="radio" name="opcionesLugar" id="radioChina">
                            <label class="mx-3" for="radioChina"> Peru - Ica</label>
                        </div>
                        <div>
                            <iframe class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61918.24075381371!2d-75.78720899865559!3d-14.
                            083667450906523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e2c3cec74f3d%3A0x5ce1a2b590e67ecd!2sIca!
                            5e0!3m2!1spt-BR!2spe!4v1724950691827!5m2!1spt-BR!2spe" width="600" height="450" style="border:0;" 
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3 mx-auto">
            <h6 class="mb-3"><strong>Resumen de la orden</strong></h6>
            <div class="d-flex flex-column contenedor-productos rounded p-3">
                <div class="border-bottom pb-2">
                    <p>Productos({{carritoService.obtenerCantidadTotal()}})</p>
                </div>
                <div class="border-bottom py-2">
                    <p>Total: S/{{carritoService.obtenerPrecioTotal()}}</p>
                </div>
            </div>
        </div>
    </div>
    } @else {
    <div class="mx-4 row">
        <div class="col-md-8">
            <h6><strong>Completa el Formulario</strong></h6>
            <form class="d-flex flex-column gap-3" (ngSubmit)="verificarForm()">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="inputNombres">Nombres</label>
                    <input type="text" class="form-control" name="nombres" id="inputNombres" [(ngModel)]="invitado.nombres" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputApellidos">Apellidos</label>
                    <input type="text" class="form-control" name="apellidos" id="inputApellidos" [(ngModel)]="invitado.apellidos" required>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="inputDni">Dni</label>
                    <input type="text" class="form-control" name="dni" id="inputDni" [(ngModel)]="invitado.dni" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputTelefono">Teléfono</label>
                    <input type="text" class="form-control" name="telefono" id="inputTelefono" [(ngModel)]="invitado.telefono" required>
                  </div>
                </div>
                <div class="row">   
                    <div class="form-group col-md-6">
                      <label for="inputCorreo">Correo Electrónico</label>
                      <input type="text" class="form-control" name="correo" id="inputCorreo" [(ngModel)]="invitado.correo" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark my-3"><strong>Ingresar</strong></button>
            </form>
        </div>

        <div class="col-md-3 mx-auto">
            <h6 class="mb-3"><strong>Resumen de la orden</strong></h6>
            <div class="d-flex flex-column contenedor-productos rounded p-3">
                <div class="border-bottom pb-2">
                    <p>Productos({{carritoService.obtenerCantidadTotal()}})</p>
                </div>
                <div class="border-bottom py-2">
                    <p>Total: S/{{carritoService.obtenerPrecioTotal()}}</p>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="mx-5">
        <div>
            <p>Formas de Pago: </p>
            <a routerLink="/plataforma/contenido">Seguir comprando</a>
        </div>
    </div>
</div>