<div class="bg-light py-3 px-5 ">
    <div class="m-5">
        <div class="progress">
            <div class="bg-dark progress-bar w-50" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>

    <div>
        <div>
            <div>
                <h5>Datos de Envío</h5>
                <div>
                    <button class="botones border btn"><i class="fs-4 bi bi-shop"></i><strong>  Recojo en Tienda</strong></button>
                    <button class="botones border btn"><i class="fs-4 bi bi-send-check"></i><strong>  Envío a Domicilio</strong></button>
                </div>
            </div>
            <div>
                <p>Formas de pago: </p>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>
