<section class="p-4">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="m-0">Detalles del Producto</h3>
        <button class="btn" (click)="cerrar()"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="p-5"> 
            <img class="" src="{{producto.imagen}}" alt="">
        </div>

        <div>
            <h5>{{producto.nombre}}</h5>
            <p><strong>Descripción</strong></p>
            <p>{{producto.descripcion}}</p>
            <p class="text-dark"><strong><del>S/{{producto.precio}}</del></strong></p>
            <p><strong></strong><span class="text-danger">S/{{producto.precioPromocion}}</span></p>
        </div>

    </div>
</section>