<div class="bg-light p-4 d-flex">
  <app-barra-lateral></app-barra-lateral>
  <div class="contenedor">
    @for(producto of contenidoService.listaProductos; track producto.productoID){
    <div class="card border">
      <div class="container d-flex flex-column h-100">
        <div class="contenedor-img p-4 m-auto">
          <img class="img-fluid" src="assets/{{producto.urlImagen}}" alt="Laptop">
        </div>
        <div class="card-body p-0 pb-2 d-flex flex-column justify-content-end">
          <h6 class="card-title">{{producto.nombre}}</h6>
          <p class="card-text">{{producto.descripcion}}</p>
          <p class="text-dark"><strong><del>S/{{producto.precio}}</del></strong></p>
          <p class="text-danger"><strong>S/{{producto.precioPromocion}}</strong></p>
          <button class="btn btn-dark my-2" (click)="agregarAlCarrito(producto)">Añadir al Carrito</button>
          <a class="btn btn-dark text-light" (click)="abrirModalDetallesProducto(producto)">Detalles</a>
          <!-- <a class="btn btn-dark text-light" routerLink="/plataforma/test">Detalles</a> -->
        </div>
      </div>
    </div>
    }
  </div>
</div>
