<section class="bg-light p-3">
    <div class="d-flex justify-content-between align-items-center">
        <h3 class="m-0">Detalles del Producto</h3>
        <button class="btn" (click)="cerrar()"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="" src="{{producto.imagen}}" alt="">
        <div>
            <h5>{{producto.nombre}}</h5>
            <p><strong>Descripción</strong></p>
            <p>{{producto.descripcion}}</p>
            <p><strong>Precio: </strong><span class="text-danger">S/{{producto.precio}}</span></p>
        </div>

    </div>
</section>