<section class="d-flex  justify-content-between align-items-center bg-dark p-4">
  <div class="d-flex align-items-center">
    <img class="logo" src="assets/logo.png" alt="">
    <h3 class="titulo-logo text-light m-0 px-2">CodeCrafters DG</h3>
  </div>
  <div class="d-flex">
    <input class="form-control mx-1" type="search" placeholder="Buscar Producto" aria-label="Search">
    <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
  </div>
  <div class="d-flex gap-3">
    <a href="#" class="text-light ">Iniciar Sesión</a>
    <a class="text-light" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
      aria-controls="offcanvasExample">
      Carrito
    </a>
    <a href="#" class="text-light ">Menú</a>
  </div>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Tus Compras</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      @for(producto of productos; track producto){
        @if(producto.id){
          <div>
            <img src="{{producto.imagen}}" alt="{{producto.nombre}}" class="img-fluid">
            <h6>{{producto.nombre}}</h6>
            <p>S/{{producto.precio}}</p>  
          </div>
        }

      }
    </div>
  </div>
</section>