<div class="contenedor">
  <app-barra-lateral></app-barra-lateral>
  <div class="contenido d-flex flex-column gap-3">
    <div class="row gap-3">
      <div class="card col">
        <a [routerLink]="['detalles-producto']">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
    </div>
    <div class="row gap-3">
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
    </div>
    <div class="row gap-3">
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
      <div class="card col">
        <a href="">
          <img src="assets/GamingLaptop.png" class="card-img-top" alt="Laptop">
          <div class="card-body">
            <h5 class="card-title">Lenovo</h5>
            <p class="card-text">Gaming laptop gl702 华硕 intel core i7 asus, laptop, electrónica, netbook</p>
            <p class="text-danger"><strong>S/2,899</strong></p>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>